{% extends "users/form_base.html" %}

{% load static %}

{% block title %}Add Medication{% endblock title %}

{% block inhouseCSS %}
    <link href="{% static "css/login.css" %}" rel="stylesheet" />
{% endblock inhouseCSS %}

{% block body %}
<main class="form-signin w-100 m-auto">
    <div class="container">
        <form action="" method = "POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Medication</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary w-100 py-2" type="submit">Add</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Go <a href="{% url 'home_index' %}">home</a>
            </small>
        </div>
    </div>
</main>
  <br>
  <br>
{% endblock body %}